@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

$family-secondary: 'Cute Font', cursive;

.dark-switch
{
    padding-left: 3rem;
    color: orange;
}

.hide
{
    display: none;
}

@import "../../oddduckgames.github.io/bulma/bulma.sass";
@import "../../oddduckgames.github.io/bulma/sass/extensions/index.sass";


